    <section id="empresa">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Empresa</h2>
                    <h3 class="section-subheading text-muted">Productos naturales y saludables para el cuerpo.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Objetivo</h4>
                    <p class="text-muted">Diseñar una gran línea de cosméticos faciales a base de ingredientes cien por ciento naturales y orgánicos  (exfoliantes, mascarillas, ampolletas, aclarador, humectantes) creados para todo el público en general considerando que su uso continuo no causa ningún daño, porque estará avalado por  dermatólogos.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Misión</h4>
                    <p class="text-muted">Ser una empresa original que ofrece a las mujeres una variedad de productos faciales alternativos elaborados a base de productos naturales y cien por ciento comprobado que no causan ningún daño secundario a la piel, proporcionando así al cliente una opción de productos de belleza sin ningún riesgo.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Visión</h4>
                    <p class="text-muted">Ser una empresa dedicada a la producción, comercialización y distribución de una gran variedad de productos de belleza y tratamientos faciales y para la piel en sus diferentes presentaciones, colores, diseños para todo tipo de clientes.
                    </p>
                </div>
            </div>
        </div>
    </section>