<html>
<body>
	<h1>politicas</h1>
	<p>
		Política De Producto.
	Nuestro producto tiene un tamaño ideal para que nuestras consumidoras puedan usar el que ellas consideren necesario para su tipo de piel.
	Contamos con una variedad de diferentes variedades adecuados para un mercado de mujeres modernas que además de buscar orden buscan productos con diseños exclusivos.

Política De Promociones Y Descuentos.
	En la apertura del negocio tendremos precios con descuentos de hasta el 5%.
	A los mayoristas se les ofrecerán descuentos de hasta un 10%

Políticas De Calidad
	Satisfacer las percepciones del cliente de la buena calidad.
	Igualar o superar la calidad de la competencia.
	Ser útil, fiable, de fácil manejo.
	Nuestro principal recurso humano son las mujeres, ya que nuestra empresa así lo requiere.
	Proporcionar los implementos de bioseguridad, para garantizar el bienestar físico e integral de nuestros colaboradores.
	Cumplir eficazmente las metas propuestas.

Políticas Generales
	La empresa debe mostrar en forma consistente un comportamiento ético y legal intachable, particularmente en materia laboral y de medio ambiente.
	Capacidad para entregar los productos en las condiciones requeridas.
	Cumplir con los acuerdos de calidad pactada.
	Mantener una moralidad comercial y una situación financiera adecuada.


	</p>
	
</body>
</html>