<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Levi't Bell 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <!--li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li-->
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="{% url 'politicas_privacidad' %}">Pol&iacute;tica de privacidad</a>
                        </li>
                        <li><a href="{% url 'politica_empresarial' %}">Pol&iacute;tica empresarial</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>